@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Roboto font 400 regular and 700 bold| Google Fonts */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-image: -webkit-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    
}
h1 {
    font-size: 3rem;
}
.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 20px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
.todo-cont {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 70%;
    min-width: 300px;
}
.field-group {
    display: flex;
    width: 100%;
}
.field-group input {
    padding: 6px 12px;
    border:none;
    border-radius: 3px;
    font-size: 1.3rem;
}
.field-group input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 75%;
}
.field-group input[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 25%;
}
#to-dos {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    flex:1;
}
#to-dos .item {
    display: flex;
    justify-content: space-between;
    background-color: #FBAB7E;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
}
#to-dos .item img {
    cursor: pointer;
}

.todo-lists {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}

.todo-lists .btn-group {
    display: flex;
    justify-content: space-between;
}
.todo-lists .btn-group button {
    border: none;
    color:white;
}
.todo-lists .btn-group button:nth-child(1) {
    background-color: green;
}
.todo-lists .btn-group button:nth-child(2) {
    background-color: red;
}
.todo-lists select#todoLists {
    width: 100%;
    font-size: 18px;
    padding: 6px 12px;
    border:none;
    border-radius: 3px;
}